
<div class="row">
    <div *ngFor="let book of books" class="col-md-3 card" >
        <img src="{{book.cover}}" class="card-img" alt="...">
           <div class="card-body">
             <h5 class="card-title">{{book.book}}</h5>
             <h6 class="card-text">author : {{book.author}}</h6>
             <h6 class="card-text">publisher : {{book.publisher}}</h6>
             <h6 class="card-text">price : {{book.price}}$</h6>
            <button  class="btn btn-primary btn-sm m-b-sm" (click)="addPurchaseBook(book.id)" >הוסף לסל</button>
            <button *ngIf="isAdmin" class="btn btn-primary btn-sm m-b-sm" (click)="deleteBook(book.id)" > מחיקה</button>
            <button *ngIf="isAdmin" class="btn btn-primary btn-sm m-b-sm" (click)="updateBook(book.id)" > עדכון</button>

           </div>
     </div>
   </div>